.container-fluid {
  margin-top: 4rem;
}

.estrella {
  width: 3rem;
}

.merchatarra {
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
}

.loading-spinner {
  height: 100vh;
}

.login-form {
  margin: 150px 0;
}

/* NAVBAR */

.logo-nav {
  max-width: 150px;
}

nav .nav-link {
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav .nav-link:hover,
nav .nav-link.active {
  border-bottom: 2px solid black;
}

/* INICIO */

#header {
  background: linear-gradient(
      rgba(128, 128, 128, 0),
      rgba(128, 128, 128, 0),
      rgba(128, 128, 128, 0),
      rgba(128, 128, 128, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 1)
    ),
    url("./assets/images/home-banner.jpg") no-repeat center bottom;
  height: 100%;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-blur {
  backdrop-filter: blur(10px);
}

#header img,
#header a {
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
}

.logo-bio {
  width: 30%;
}

#integrantes {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("./assets/images/bg-integrantes.jpg") no-repeat center center;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.text-band {
  font-family: "Fredericka the Great", cursive;
}

.social-logos img {
  max-width: 150px;
}

.social-logos a {
  text-decoration: none;
}

/* DISCOGRAFIA */

.bg-discografia {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./assets/images/bg-discography.jpg") no-repeat center center;
  height: 100%;
  background-attachment: fixed;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#discografia .estrella {
  width: 4rem;
}

.img-cover {
  width: 100%;
}

.album {
  font-size: 2rem;
  font-weight: bold;
}

/* VIDEOS */

.bg-videos {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("./assets/images/bg-videos.jpg") no-repeat center center;
  height: 100%;
  background-attachment: fixed;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* BIOGRAFIA */

#biografia .estrella {
  width: 5rem;
}

.img-band {
  opacity: 0.7;
}

/* EVENTOS */
.logo-songkick {
  max-width: 150px;
}

/* CONTACTO */

.bg-contacto-cache {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("./assets/images/bg-contacto-cache.jpg") no-repeat center center;
  height: 100%;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Rider */

.bg-rider {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("./assets/images/bg-bio.jpg") no-repeat center center;
  height: 80vh;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-rider h1 {
  text-shadow: 5px 5px #929292;
}

/* MODAL */

/* Error Page */
#errorPage {
  background: #fff;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px 16px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#errorPage h2 {
  color: #ffa100;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 8px;
}
#errorPage h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}
#errorPage p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

/* MEDIA QUERY */

@media screen and (min-width: 992px) {
  #header a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  #sala {
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: unset;
  }
}

@media only screen and (max-width: 576px) {
  .logo-bio {
    width: 70%;
  }
  .bg-paper02 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("./assets/images/bg-discography.jpg") no-repeat center center;
    height: 100%;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-paper03 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("./assets/images/bg-videos.jpg") no-repeat center center;
    height: 100%;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* Rider */

  .bg-rider {
    background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url("./assets/images/bg-bio.jpg") no-repeat;
    height: 30vh;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-rider h1 {
    text-shadow: 5px 5px #929292;
    font-size: 2rem;
  }

  /* dicografia */
  .album {
    font-size: 1rem;
  }

  .estrella {
    display: none;
  }

  /* gira */
  .gira-table {
    font-size: 0.5rem;
  }

  /* contacto */
  .fa-size {
    font-size: 0.5rem;
  }
}
